{% extends "base.html.twig" %}

{% block body %}
    <h1>Nos produits phares</h1>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="https://picsum.photos/400/400" class="img-fluid" alt="Image du produit" >
            </div>
        </div>
    </div>
   
{% endblock %}

{% block title %}
    Accueil
{% endblock %}